In [1]:
from pathlib import Path

import numpy as np
import pandas as pd

In [21]:
cwd = Path.cwd()
data_dir = cwd / 'Data'
sfo_train = pd.read_pickle(data_dir / 'sfo_train_raw.pkl')

In [22]:
sfo_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16596 entries, 20744 to 4149
Data columns (total 12 columns):
activity_period                16596 non-null object
operating_airline              16596 non-null object
operating_airline_iata_code    16538 non-null object
published_airline              16596 non-null object
published_airline_iata_code    16538 non-null object
geo_summary                    16596 non-null object
geo_region                     16596 non-null object
activity_type_code             16596 non-null object
price_category_code            16596 non-null object
terminal                       16596 non-null object
boarding_area                  16596 non-null object
passenger_count                16596 non-null object
dtypes: object(12)
memory usage: 1.6+ MB

In [23]:
sfo_train.describe()

,activity_period,operating_airline,operating_airline_iata_code,published_airline,published_airline_iata_code,geo_summary,geo_region,activity_type_code,price_category_code,terminal,boarding_area,passenger_count
count,16596,16596,16538,16596,16538,16596,16596,16596,16596,16596,16596,16596
unique,141,81,76,71,67,2,9,3,2,5,8,12660
top,201608,United Airlines - Pre 07/01/2013,UA,United Airlines - Pre 07/01/2013,UA,International,US,Deplaned,Other,International,A,1
freq,142,2154,3351,2645,4118,10328,6268,7828,14480,10344,5837,14

In [24]:
sfo_train

,activity_period,operating_airline,operating_airline_iata_code,published_airline,published_airline_iata_code,geo_summary,geo_region,activity_type_code,price_category_code,terminal,boarding_area,passenger_count
20744,200507,Independence Air,DH,Independence Air,DH,Domestic,US,Enplaned,Low Fare,International,A,10967
20743,200507,Japan Airlines,JL,Japan Airlines,JL,International,Asia,Deplaned,Other,International,A,9195
20742,200507,Japan Airlines,JL,Japan Airlines,JL,International,Asia,Enplaned,Other,International,A,9086
20741,200507,KLM Royal Dutch Airlines,KL,KLM Royal Dutch Airlines,KL,International,Europe,Deplaned,Other,International,A,9978
20740,200507,KLM Royal Dutch Airlines,KL,KLM Royal Dutch Airlines,KL,International,Europe,Enplaned,Other,International,A,9587
...,...,...,...,...,...,...,...,...,...,...,...,...
4153,201703,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,E,293538
4152,201703,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,E,203
4151,201703,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,386706
4150,201703,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,371608
4149,201703,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,F,71

### Check Nulls

In [56]:
null_mask = sfo_train['published_airline_iata_code'].isnull()
sfo_train[null_mask]

,activity_period,operating_airline,operating_airline_iata_code,published_airline,published_airline_iata_code,geo_summary,geo_region,activity_type_code,price_category_code,terminal,boarding_area,passenger_count
20596,2005-08,Boeing Company,NaN,Boeing Company,NaN,Domestic,US,Deplaned,Other,Other,Other,18
13935,2010-05,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,G,73
13934,2010-05,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,G,73
13827,2010-06,Pacific Aviation,NaN,Pacific Aviation,NaN,International,Europe,Deplaned,Other,International,A,160
13826,2010-06,Pacific Aviation,NaN,Pacific Aviation,NaN,International,Europe,Enplaned,Other,International,A,160
13577,2010-08,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,G,118
13576,2010-08,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,G,118
13002,2011-01,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,40
13001,2011-01,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,40
12778,2011-03,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,64
12777,2011-03,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,64
12419,2011-06,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,237
12418,2011-06,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,262
12304,2011-07,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,72
12303,2011-07,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,193
12186,2011-08,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,114
12185,2011-08,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,98
12068,2011-09,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,98
11961,2011-10,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,48
11960,2011-10,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,48
11959,2011-10,Servisair,NaN,Servisair,NaN,International,Europe,Deplaned,Low Fare,International,A,16
11958,2011-10,Servisair,NaN,Servisair,NaN,International,Europe,Enplaned,Low Fare,International,A,16
11618,2012-01,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,77
11615,2012-01,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,77
11389,2012-03,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,51
11388,2012-03,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,51
11279,2012-04,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,G,171
11261,2012-04,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Deplaned,Other,International,A,167
11260,2012-04,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Enplaned,Other,International,A,183
11259,2012-04,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Thru / Transit,Other,International,A,93
11046,2012-06,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,62
11045,2012-06,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,62
10808,2012-08,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,115
10807,2012-08,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,71
10577,2012-10,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,57
10576,2012-10,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,57
10357,2012-12,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,57
10356,2012-12,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,57
9906,2013-04,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,120
9905,2013-04,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,215
9884,2013-04,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Deplaned,Other,International,A,399
9883,2013-04,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Enplaned,Other,International,A,560
9768,2013-05,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Deplaned,Other,International,A,300
9767,2013-05,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Enplaned,Other,International,A,300
9538,2013-07,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Deplaned,Other,International,A,276
9537,2013-07,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Enplaned,Other,International,A,276
9208,2013-10,Servisair,NaN,Servisair,NaN,Domestic,US,Deplaned,Low Fare,International,A,75
9207,2013-10,Servisair,NaN,Servisair,NaN,Domestic,US,Enplaned,Low Fare,International,A,75
8964,2013-12,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Deplaned,Other,International,A,214
8963,2013-12,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Enplaned,Other,International,A,216
8737,2014-02,Swissport USA,NaN,Swissport USA,NaN,International,Asia,Deplaned,Other,International,A,216
8623,2014-03,Swissport USA,NaN,Swissport USA,NaN,Domestic,US,Deplaned,Other,International,A,211
7722,2014-11,Swissport USA,NaN,Swissport USA,NaN,International,Central America,Deplaned,Other,International,A,234
7721,2014-11,Swissport USA,NaN,Swissport USA,NaN,International,Central America,Enplaned,Other,International,A,234
4694,2016-11,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Deplaned,Other,International,A,232
4693,2016-11,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Enplaned,Other,International,A,275
4557,2016-12,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Deplaned,Other,International,A,199
4556,2016-12,Swissport USA,NaN,Swissport USA,NaN,International,Europe,Enplaned,Other,International,A,274

In [57]:
sfo_train[~null_mask]

,activity_period,operating_airline,operating_airline_iata_code,published_airline,published_airline_iata_code,geo_summary,geo_region,activity_type_code,price_category_code,terminal,boarding_area,passenger_count
20744,2005-07,Independence Air,DH,Independence Air,DH,Domestic,US,Enplaned,Low Fare,International,A,10967
20743,2005-07,Japan Airlines,JL,Japan Airlines,JL,International,Asia,Deplaned,Other,International,A,9195
20742,2005-07,Japan Airlines,JL,Japan Airlines,JL,International,Asia,Enplaned,Other,International,A,9086
20741,2005-07,KLM Royal Dutch Airlines,KL,KLM Royal Dutch Airlines,KL,International,Europe,Deplaned,Other,International,A,9978
20740,2005-07,KLM Royal Dutch Airlines,KL,KLM Royal Dutch Airlines,KL,International,Europe,Enplaned,Other,International,A,9587
...,...,...,...,...,...,...,...,...,...,...,...,...
4153,2017-03,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,E,293538
4152,2017-03,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,E,203
4151,2017-03,United Airlines,UA,United Airlines,UA,Domestic,US,Deplaned,Other,Terminal 3,F,386706
4150,2017-03,United Airlines,UA,United Airlines,UA,Domestic,US,Enplaned,Other,Terminal 3,F,371608
4149,2017-03,United Airlines,UA,United Airlines,UA,Domestic,US,Thru / Transit,Other,Terminal 3,F,71

In [72]:
sfo_train['activity_period'].value_counts()

2016-08    142
2016-06    139
2016-10    139
2016-07    139
2016-09    138
          ...
2014-07    109
2006-02    108
2013-03    108
2013-01    107
2017-03    100
Freq: M, Name: activity_period, Length: 141, dtype: int64

In [70]:
longest_name = sfo_train['operating_airline'].str.len().max()
for name, df in sfo_train.groupby('operating_airline'):
    print(
        name.ljust(longest_name),
        df['operating_airline_iata_code'].unique(),
        len(df),
    )

ATA Airlines                         ['TZ'] 44
Aer Lingus                           ['EI'] 122
Aeromexico                           ['AM'] 204
Air Berlin                           ['AB'] 48
Air Canada                           ['AC'] 390
Air Canada Jazz                      ['QK'] 14
Air China                            ['CA'] 283
Air France                           ['AF'] 282
Air India Limited                    ['AI'] 36
Air New Zealand                      ['NZ'] 283
Air Pacific Limited dba Fiji Airways ['FJ'] 12
AirTran Airways                      ['FL'] 226
Alaska Airlines                      ['AS'] 799
All Nippon Airways                   ['NH'] 282
Allegiant Air                        ['G4'] 16
American Airlines                    ['AA'] 320
American Eagle Airlines              ['MQ'] 106
Ameriflight                          ['A8'] 22
Asiana Airlines                      ['OZ'] 282
Atlantic Southeast Airlines          ['EV'] 22
Atlas Air, Inc                       ['5Y'] 2
BelAir Airlines                      ['4T' 'BBB'] 22
Boeing Company                       [nan] 1
British Airways                      ['BA'] 282
COPA Airlines, Inc.                  ['CM'] 38
Cathay Pacific                       ['CX'] 282
China Airlines                       ['CI'] 282
China Eastern                        ['MU'] 96
China Southern                       ['CZ'] 56
Compass Airlines                     ['CP'] 137
Delta Air Lines                      ['DL'] 412
EVA Airways                          ['BR'] 282
Emirates                             ['EK'] 204
Etihad Airways                       ['EY'] 58
Evergreen International Airlines     ['EZ'] 2
ExpressJet Airlines                  ['XE'] 32
Frontier Airlines                    ['F9'] 284
Hawaiian Airlines                    ['HA'] 282
Horizon Air                          ['QX'] 216
Icelandair                           ['FI'] 20
Independence Air                     ['DH'] 10
Japan Airlines                       ['JL'] 283
Jazz Aviation                        ['QK'] 20
Jet Airways                          ['9W'] 16
JetBlue Airways                      ['B6'] 258
KLM Royal Dutch Airlines             ['KL'] 282
Korean Air Lines                     ['KE'] 282
LAN Peru                             ['LP'] 90
Lufthansa German Airlines            ['LH'] 282
Mesa Airlines                        ['YV'] 118
Mesaba Airlines                      ['XJ'] 44
Mexicana Airlines                    ['MX'] 124
Miami Air International              ['GL'] 16
Midwest Airlines                     ['YX'] 116
Northwest Airlines                   ['NW'] 240
Pacific Aviation                     [nan] 2
Philippine Airlines                  ['PR'] 282
Qantas Airways                       ['QF'] 157
Republic Airlines                    ['RW'] 24
SAS Airlines                         ['SK'] 96
Servisair                            [nan] 36
Singapore Airlines                   ['SQ'] 282
SkyWest Airlines                     ['OO'] 1055
Southwest Airlines                   ['WN'] 345
Spirit Airlines                      ['NK'] 24
Sun Country Airlines                 ['SY'] 281
Swiss International                  ['LX'] 163
Swissport USA                        [nan] 19
TACA                                 ['TA'] 282
Turkish Airlines                     ['TK'] 48
US Airways                           ['US'] 304
United Airlines                      ['UA'] 1197
United Airlines - Pre 07/01/2013     ['UA'] 2154
Virgin America                       ['VX'] 406
Virgin Atlantic                      ['VS'] 280
Volaris Airlines                     ['Y4'] 16
WOW Air                              ['WW'] 18
WestJet Airlines                     ['WS'] 115
World Airways                        ['WO'] 3
XL Airways France                    ['SE'] 41
Xtra Airways                         ['XP'] 2

Aircraft ground services -- DROP:  
Pacific Aviation, Servisair, Swissport USA

Aircraft manufacturer -- DROP:  
Beoing Company

BelAir Airlines BBB IATA code doesn't make sense since IATA codes [only use 2 letters](https://en.wikipedia.org/wiki/Airline_codes#IATA_airline_designator)

Merge Unitied Airlines - Pre 07/01/2013 with United Airlines

In [76]:
sfo_train = sfo_train[~null_mask]

### Fix IATA codes and Airline Names

In [130]:
belair_iata = lambda x: '4T' if x == 'BBB' else x
sfo_train.loc[:, 'operating_airline_iata_code'] = sfo_train.loc[:, 'operating_airline_iata_code'].map(belair_iata)
sfo_train.loc[:, 'published_airline_iata_code'] = sfo_train.loc[:, 'published_airline_iata_code'].map(belair_iata)

In [105]:
for name, df in sfo_train.groupby('operating_airline_iata_code'):
    uniques = df['operating_airline'].unique()
    print(
        name,
        uniques,
        '***' if len(uniques) > 1 else ''
    )

4T ['BelAir Airlines']
5Y ['Atlas Air, Inc']
9W ['Jet Airways']
A8 ['Ameriflight']
AA ['American Airlines']
AB ['Air Berlin']
AC ['Air Canada']
AF ['Air France']
AI ['Air India Limited']
AM ['Aeromexico']
AS ['Alaska Airlines']
B6 ['JetBlue Airways']
BA ['British Airways']
BR ['EVA Airways']
CA ['Air China']
CI ['China Airlines']
CM ['COPA Airlines, Inc.']
CP ['Compass Airlines']
CX ['Cathay Pacific']
CZ ['China Southern']
DH ['Independence Air']
DL ['Delta Air Lines']
EI ['Aer Lingus']
EK ['Emirates']
EV ['Atlantic Southeast Airlines']
EY ['Etihad Airways']
EZ ['Evergreen International Airlines']
F9 ['Frontier Airlines']
FI ['Icelandair']
FJ ['Air Pacific Limited dba Fiji Airways']
FL ['AirTran Airways']
G4 ['Allegiant Air']
GL ['Miami Air International']
HA ['Hawaiian Airlines']
JL ['Japan Airlines']
KE ['Korean Air Lines']
KL ['KLM Royal Dutch Airlines']
LH ['Lufthansa German Airlines']
LP ['LAN Peru']
LX ['Swiss International']
MQ ['American Eagle Airlines']
MU ['China Eastern']
MX ['Mexicana Airlines']
NH ['All Nippon Airways']
NK ['Spirit Airlines']
NW ['Northwest Airlines']
NZ ['Air New Zealand']
OO ['SkyWest Airlines']
OZ ['Asiana Airlines']
PR ['Philippine Airlines']
QF ['Qantas Airways']
QK ['Air Canada Jazz' 'Jazz Aviation'] ***
QX ['Horizon Air']
RW ['Republic Airlines']
SE ['XL Airways France']
SK ['SAS Airlines']
SQ ['Singapore Airlines']
SY ['Sun Country Airlines']
TA ['TACA']
TK ['Turkish Airlines']
TZ ['ATA Airlines']
UA ['United Airlines' 'United Airlines - Pre 07/01/2013'] ***
US ['US Airways']
VS ['Virgin Atlantic']
VX ['Virgin America']
WN ['Southwest Airlines']
WO ['World Airways']
WS ['WestJet Airlines']
WW ['WOW Air']
XE ['ExpressJet Airlines']
XJ ['Mesaba Airlines']
XP ['Xtra Airways']
Y4 ['Volaris Airlines']
YV ['Mesa Airlines']
YX ['Midwest Airlines']

In [134]:
for name, df in sfo_train.groupby('published_airline_iata_code'):
    uniques = df['published_airline'].unique()
    print(
        name,
        uniques,
        '***' if len(uniques) > 1 else ''
    )

4T ['BelAir Airlines']
5Y ['Atlas Air, Inc']
9W ['Jet Airways']
A8 ['Ameriflight']
AA ['American Airlines']
AB ['Air Berlin']
AC ['Air Canada']
AF ['Air France']
AI ['Air India Limited']
AM ['Aeromexico']
AS ['Alaska Airlines']
B6 ['JetBlue Airways']
BA ['British Airways']
BR ['EVA Airways']
CA ['Air China']
CI ['China Airlines']
CM ['COPA Airlines, Inc.']
CX ['Cathay Pacific']
CZ ['China Southern']
DH ['Independence Air']
DL ['Delta Air Lines']
EI ['Aer Lingus']
EK ['Emirates']
EY ['Etihad Airways']
EZ ['Evergreen International Airlines']
F9 ['Frontier Airlines']
FI ['Icelandair']
FJ ['Air Pacific Limited dba Fiji Airways']
FL ['AirTran Airways']
G4 ['Allegiant Air']
GL ['Miami Air International']
HA ['Hawaiian Airlines']
JL ['Japan Airlines']
KE ['Korean Air Lines']
KL ['KLM Royal Dutch Airlines']
LH ['Lufthansa German Airlines']
LP ['LAN Peru']
LX ['Swiss International']
MU ['China Eastern']
MX ['Mexicana Airlines']
NH ['All Nippon Airways']
NK ['Spirit Airlines']
NW ['Northwest Airlines']
NZ ['Air New Zealand']
OZ ['Asiana Airlines']
PR ['Philippine Airlines']
QF ['Qantas Airways']
RW ['Republic Airlines']
SE ['XL Airways France']
SK ['SAS Airlines']
SQ ['Singapore Airlines']
SY ['Sun Country Airlines']
TA ['TACA']
TK ['Turkish Airlines']
TZ ['ATA Airlines']
UA ['United Airlines']
US ['US Airways']
VS ['Virgin Atlantic']
VX ['Virgin America']
WN ['Southwest Airlines']
WO ['World Airways']
WS ['WestJet Airlines']
WW ['WOW Air']
XP ['Xtra Airways']
Y4 ['Volaris Airlines']
YX ['Midwest Airlines']

In [136]:
united = lambda x: 'United Airlines' if x == 'United Airlines - Pre 07/01/2013' else x
sfo_train.loc[:, 'operating_airline'] = sfo_train.loc[:, 'operating_airline'].map(united)
sfo_train.loc[:, 'published_airline'] = sfo_train.loc[:, 'published_airline'].map(united)


jazz = lambda x: 'Jazz Aviation' if x == 'Air Canada Jazz' else x
sfo_train.loc[:, 'operating_airline'] = sfo_train.loc[:, 'operating_airline'].map(jazz)
sfo_train.loc[:, 'published_airline'] = sfo_train.loc[:, 'published_airline'].map(jazz)

### Fix Passenger Count dtype

In [49]:
sfo_train['passenger_count'] = sfo_train['passenger_count'].astype(int)

### Format Time

In [25]:
sfo_train['activity_period'] = (pd.to_datetime(sfo_train['activity_period'], format='%Y%m')
                                  .dt.to_period('M'))

### Published vs Operating

In [137]:
for name, df in sfo_train.groupby('published_airline'):
    uniques = df['operating_airline'].unique()
    print(
        name,
        uniques,
        '***' if len(uniques) > 1 else ''
    )

ATA Airlines ['ATA Airlines']
Aer Lingus ['Aer Lingus']
Aeromexico ['Aeromexico']
Air Berlin ['Air Berlin']
Air Canada ['Air Canada' 'Jazz Aviation'] ***
Air China ['Air China']
Air France ['Air France']
Air India Limited ['Air India Limited']
Air New Zealand ['Air New Zealand']
Air Pacific Limited dba Fiji Airways ['Air Pacific Limited dba Fiji Airways']
AirTran Airways ['AirTran Airways']
Alaska Airlines ['Horizon Air' 'Alaska Airlines' 'SkyWest Airlines'] ***
All Nippon Airways ['All Nippon Airways']
Allegiant Air ['Allegiant Air']
American Airlines ['American Eagle Airlines' 'American Airlines' 'Mesa Airlines'
 'Compass Airlines' 'SkyWest Airlines'] ***
Ameriflight ['Ameriflight']
Asiana Airlines ['Asiana Airlines']
Atlas Air, Inc ['Atlas Air, Inc']
BelAir Airlines ['BelAir Airlines']
British Airways ['British Airways']
COPA Airlines, Inc. ['COPA Airlines, Inc.']
Cathay Pacific ['Cathay Pacific']
China Airlines ['China Airlines']
China Eastern ['China Eastern']
China Southern ['China Southern']
Delta Air Lines ['SkyWest Airlines' 'Delta Air Lines' 'Atlantic Southeast Airlines'
 'ExpressJet Airlines' 'Mesaba Airlines' 'Compass Airlines'] ***
EVA Airways ['EVA Airways']
Emirates ['Emirates']
Etihad Airways ['Etihad Airways']
Evergreen International Airlines ['Evergreen International Airlines']
Frontier Airlines ['Frontier Airlines']
Hawaiian Airlines ['Hawaiian Airlines']
Icelandair ['Icelandair']
Independence Air ['Independence Air']
Japan Airlines ['Japan Airlines']
Jet Airways ['Jet Airways']
JetBlue Airways ['JetBlue Airways']
KLM Royal Dutch Airlines ['KLM Royal Dutch Airlines']
Korean Air Lines ['Korean Air Lines']
LAN Peru ['LAN Peru']
Lufthansa German Airlines ['Lufthansa German Airlines']
Mexicana Airlines ['Mexicana Airlines']
Miami Air International ['Miami Air International']
Midwest Airlines ['Midwest Airlines']
Northwest Airlines ['Northwest Airlines']
Philippine Airlines ['Philippine Airlines']
Qantas Airways ['Qantas Airways']
Republic Airlines ['Republic Airlines']
SAS Airlines ['SAS Airlines']
Singapore Airlines ['Singapore Airlines']
Southwest Airlines ['Southwest Airlines']
Spirit Airlines ['Spirit Airlines']
Sun Country Airlines ['Sun Country Airlines']
Swiss International ['Swiss International']
TACA ['TACA']
Turkish Airlines ['Turkish Airlines']
US Airways ['Mesa Airlines' 'US Airways'] ***
United Airlines ['SkyWest Airlines' 'United Airlines' 'Mesa Airlines'] ***
Virgin America ['Virgin America']
Virgin Atlantic ['Virgin Atlantic']
Volaris Airlines ['Volaris Airlines']
WOW Air ['WOW Air']
WestJet Airlines ['WestJet Airlines']
World Airways ['World Airways']
XL Airways France ['XL Airways France']
Xtra Airways ['Xtra Airways']

In [138]:
for name, df in sfo_train.groupby('operating_airline'):
    uniques = df['published_airline'].unique()
    print(
        name,
        uniques,
        '***' if len(uniques) > 1 else ''
    )

ATA Airlines ['ATA Airlines']
Aer Lingus ['Aer Lingus']
Aeromexico ['Aeromexico']
Air Berlin ['Air Berlin']
Air Canada ['Air Canada']
Air China ['Air China']
Air France ['Air France']
Air India Limited ['Air India Limited']
Air New Zealand ['Air New Zealand']
Air Pacific Limited dba Fiji Airways ['Air Pacific Limited dba Fiji Airways']
AirTran Airways ['AirTran Airways']
Alaska Airlines ['Alaska Airlines']
All Nippon Airways ['All Nippon Airways']
Allegiant Air ['Allegiant Air']
American Airlines ['American Airlines']
American Eagle Airlines ['American Airlines']
Ameriflight ['Ameriflight']
Asiana Airlines ['Asiana Airlines']
Atlantic Southeast Airlines ['Delta Air Lines']
Atlas Air, Inc ['Atlas Air, Inc']
BelAir Airlines ['BelAir Airlines']
British Airways ['British Airways']
COPA Airlines, Inc. ['COPA Airlines, Inc.']
Cathay Pacific ['Cathay Pacific']
China Airlines ['China Airlines']
China Eastern ['China Eastern']
China Southern ['China Southern']
Compass Airlines ['Delta Air Lines' 'American Airlines'] ***
Delta Air Lines ['Delta Air Lines']
EVA Airways ['EVA Airways']
Emirates ['Emirates']
Etihad Airways ['Etihad Airways']
Evergreen International Airlines ['Evergreen International Airlines']
ExpressJet Airlines ['Delta Air Lines']
Frontier Airlines ['Frontier Airlines']
Hawaiian Airlines ['Hawaiian Airlines']
Horizon Air ['Alaska Airlines']
Icelandair ['Icelandair']
Independence Air ['Independence Air']
Japan Airlines ['Japan Airlines']
Jazz Aviation ['Air Canada']
Jet Airways ['Jet Airways']
JetBlue Airways ['JetBlue Airways']
KLM Royal Dutch Airlines ['KLM Royal Dutch Airlines']
Korean Air Lines ['Korean Air Lines']
LAN Peru ['LAN Peru']
Lufthansa German Airlines ['Lufthansa German Airlines']
Mesa Airlines ['US Airways' 'American Airlines' 'United Airlines'] ***
Mesaba Airlines ['Delta Air Lines']
Mexicana Airlines ['Mexicana Airlines']
Miami Air International ['Miami Air International']
Midwest Airlines ['Midwest Airlines']
Northwest Airlines ['Northwest Airlines']
Philippine Airlines ['Philippine Airlines']
Qantas Airways ['Qantas Airways']
Republic Airlines ['Republic Airlines']
SAS Airlines ['SAS Airlines']
Singapore Airlines ['Singapore Airlines']
SkyWest Airlines ['Delta Air Lines' 'United Airlines' 'Alaska Airlines' 'American Airlines'] ***
Southwest Airlines ['Southwest Airlines']
Spirit Airlines ['Spirit Airlines']
Sun Country Airlines ['Sun Country Airlines']
Swiss International ['Swiss International']
TACA ['TACA']
Turkish Airlines ['Turkish Airlines']
US Airways ['US Airways']
United Airlines ['United Airlines']
Virgin America ['Virgin America']
Virgin Atlantic ['Virgin Atlantic']
Volaris Airlines ['Volaris Airlines']
WOW Air ['WOW Air']
WestJet Airlines ['WestJet Airlines']
World Airways ['World Airways']
XL Airways France ['XL Airways France']
Xtra Airways ['Xtra Airways']

### Dummy Variables

There is a 1-1 mapping for IATA and airline names now, so I'll drop airline names to simplify things. I will keep a mapping in a different dataframe for later reference if needed.

In [144]:
sfo_train = sfo_train.rename(columns={
    'operating_airline_iata_code': 'operating_iata',
    'published_airline_iata_code': 'published_iata',
})

In [168]:
operating = ['operating_iata', 'operating_airline']
published = ['published_iata', 'published_airline']
new = ['iata', 'airline']

iata_to_airline = (
    pd.concat([
        sfo_train[operating]
            .rename(columns=dict(zip(operating, new))),
        sfo_train[published]
            .rename(columns=dict(zip(published, new))),
    ])
    .drop_duplicates()
    .set_index('iata')
    .sort_index()
).squeeze()

iata_to_airline

iata
4T      BelAir Airlines
5Y       Atlas Air, Inc
9W          Jet Airways
A8          Ameriflight
AA    American Airlines
            ...
XJ      Mesaba Airlines
XP         Xtra Airways
Y4     Volaris Airlines
YV        Mesa Airlines
YX     Midwest Airlines
Name: airline, Length: 75, dtype: object

In [172]:
sfo_train = sfo_train.drop(columns=['operating_airline', 'published_airline'])

In [201]:
categorical = [col for col, dtype in dict(sfo_train.dtypes).items() if dtype == np.dtype(object)]
sfo_train[categorical] = sfo_train[categorical].astype('category')
sfo_train.dtypes

activity_period        period[M]
operating_iata          category
published_iata          category
geo_summary             category
geo_region              category
activity_type_code      category
price_category_code     category
terminal                category
boarding_area           category
passenger_count            int64
dtype: object

In [202]:
dict(sfo_train.dtypes)

{'activity_period': period[M],
 'operating_iata': CategoricalDtype(categories=['4T', '5Y', '9W', 'A8', 'AA', 'AB', 'AC', 'AF', 'AI', 'AM',
                   'AS', 'B6', 'BA', 'BR', 'CA', 'CI', 'CM', 'CP', 'CX', 'CZ',
                   'DH', 'DL', 'EI', 'EK', 'EV', 'EY', 'EZ', 'F9', 'FI', 'FJ',
                   'FL', 'G4', 'GL', 'HA', 'JL', 'KE', 'KL', 'LH', 'LP', 'LX',
                   'MQ', 'MU', 'MX', 'NH', 'NK', 'NW', 'NZ', 'OO', 'OZ', 'PR',
                   'QF', 'QK', 'QX', 'RW', 'SE', 'SK', 'SQ', 'SY', 'TA', 'TK',
                   'TZ', 'UA', 'US', 'VS', 'VX', 'WN', 'WO', 'WS', 'WW', 'XE',
                   'XJ', 'XP', 'Y4', 'YV', 'YX'],
                  ordered=False),
 'published_iata': CategoricalDtype(categories=['4T', '5Y', '9W', 'A8', 'AA', 'AB', 'AC', 'AF', 'AI', 'AM',
                   'AS', 'B6', 'BA', 'BR', 'CA', 'CI', 'CM', 'CX', 'CZ', 'DH',
                   'DL', 'EI', 'EK', 'EY', 'EZ', 'F9', 'FI', 'FJ', 'FL', 'G4',
                   'GL', 'HA', 'JL', 'KE', 'KL', 'LH', 'LP', 'LX', 'MU', 'MX',
                   'NH', 'NK', 'NW', 'NZ', 'OZ', 'PR', 'QF', 'RW', 'SE', 'SK',
                   'SQ', 'SY', 'TA', 'TK', 'TZ', 'UA', 'US', 'VS', 'VX', 'WN',
                   'WO', 'WS', 'WW', 'XP', 'Y4', 'YX'],
                  ordered=False),
 'geo_summary': CategoricalDtype(categories=['Domestic', 'International'], ordered=False),
 'geo_region': CategoricalDtype(categories=['Asia', 'Australia / Oceania', 'Canada', 'Central America',
                   'Europe', 'Mexico', 'Middle East', 'South America', 'US'],
                  ordered=False),
 'activity_type_code': CategoricalDtype(categories=['Deplaned', 'Enplaned', 'Thru / Transit'], ordered=False),
 'price_category_code': CategoricalDtype(categories=['Low Fare', 'Other'], ordered=False),
 'terminal': CategoricalDtype(categories=['International', 'Other', 'Terminal 1', 'Terminal 2',
                   'Terminal 3'],
                  ordered=False),
 'boarding_area': CategoricalDtype(categories=['A', 'B', 'C', 'D', 'E', 'F', 'G', 'Other'], ordered=False),
 'passenger_count': dtype('int64')}

In [213]:
set(sfo_train['operating_iata'].dtype.categories) >= set(sfo_train['published_iata'].dtype.categories)

True

In [222]:
iata_dtype = sfo_train['operating_iata'].dtype
sfo_train['published_iata'] = sfo_train['published_iata'].astype(iata_dtype)

In [226]:
pd.get_dummies(sfo_train, drop_first=True)

,activity_period,passenger_count,operating_iata_5Y,operating_iata_9W,operating_iata_A8,operating_iata_AA,operating_iata_AB,operating_iata_AC,operating_iata_AF,operating_iata_AI,...,terminal_Terminal 1,terminal_Terminal 2,terminal_Terminal 3,boarding_area_B,boarding_area_C,boarding_area_D,boarding_area_E,boarding_area_F,boarding_area_G,boarding_area_Other
20744,2005-07,10967,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20743,2005-07,9195,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20742,2005-07,9086,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20741,2005-07,9978,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20740,2005-07,9587,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4153,2017-03,293538,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4152,2017-03,203,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,0
4151,2017-03,386706,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4150,2017-03,371608,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
4149,2017-03,71,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0

In [227]:
sfo_train

,activity_period,operating_iata,published_iata,geo_summary,geo_region,activity_type_code,price_category_code,terminal,boarding_area,passenger_count
20744,2005-07,DH,DH,Domestic,US,Enplaned,Low Fare,International,A,10967
20743,2005-07,JL,JL,International,Asia,Deplaned,Other,International,A,9195
20742,2005-07,JL,JL,International,Asia,Enplaned,Other,International,A,9086
20741,2005-07,KL,KL,International,Europe,Deplaned,Other,International,A,9978
20740,2005-07,KL,KL,International,Europe,Enplaned,Other,International,A,9587
...,...,...,...,...,...,...,...,...,...,...
4153,2017-03,UA,UA,Domestic,US,Enplaned,Other,Terminal 3,E,293538
4152,2017-03,UA,UA,Domestic,US,Thru / Transit,Other,Terminal 3,E,203
4151,2017-03,UA,UA,Domestic,US,Deplaned,Other,Terminal 3,F,386706
4150,2017-03,UA,UA,Domestic,US,Enplaned,Other,Terminal 3,F,371608
4149,2017-03,UA,UA,Domestic,US,Thru / Transit,Other,Terminal 3,F,71

In [228]:
sfo_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16538 entries, 20744 to 4149
Data columns (total 10 columns):
activity_period        16538 non-null period[M]
operating_iata         16538 non-null category
published_iata         16538 non-null category
geo_summary            16538 non-null category
geo_region             16538 non-null category
activity_type_code     16538 non-null category
price_category_code    16538 non-null category
terminal               16538 non-null category
boarding_area          16538 non-null category
passenger_count        16538 non-null int64
dtypes: category(8), int64(1), period[M](1)
memory usage: 1.1 MB